<%= image_tag @teacher.photo.url(:thumb) %>
<%= @teacher.fullname %>
<p> Ranking: no hay ranking aún :/ </p>

<p> C.V </p>

<p><%= @teacher.resumen %></p>

<p><%= link_to 'Volver', teacher_index_path %></p>